POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=giusti-gestao-credito

SUPABASE_URL=sua_url_do_supabase
SUPABASE_KEY=sua_chave_do_supabase

TYPEORM_LOGGING=true
TYPEORM_MIGRATIONS_RUN=false

PORT=3000
NODE_ENV=development
